# Connect to Vantage Using Python Libraries
There are many ways to call Teradata Vantage from a Python notebook. Since Vantage comes with a Python driver that is compliant with `PEP-249 Python Database API Specification 2.0` the Teradata driver will work with any library that supports `PEP-249`. In this demo notebook we will focus on `Pandas` and `ipython-sql`.

## Teradata Python driver with Pandas
First, we install required python libraries:

In [ ]:
import sys
!{sys.executable} -m pip install teradatasqlalchemy

We now import pandas and define the db connection string. In this case, we are running the notebook in Docker. 
We also have a Vantage Express running in a VM on the same host machine. `host.docker.internal` allows us to reference the host IP that will forward traffic to the Vantage Express VM.

In [ ]:
import pandas as pd
db_connection_string = "teradatasql://dbc:dbc@host.docker.internal/dbc"

We can now use the connection string with pandas `read_sql` function:

In [ ]:
pd.read_sql("SELECT * FROM dbc.dbcinfo", con = db_connection_string)

## Teradata Python driver with ipython-sql
First, we install the required python libraries:

In [ ]:
import sys
!{sys.executable} -m pip install ipython-sql teradatasqlalchemy

We load `sql` magic from `ipython-sql` library and connect to teradata. In this case, we are running the notebook in Docker. 
We also have a Vantage Express running in a VM on the same host machine. `host.docker.internal` allows us to reference the host IP that will forward traffic to the Vantage Express VM.

In [ ]:
%load_ext sql
%sql teradatasql://dbc:dbc@host.docker.internal/dbc

This is how we can run an SQL query. Note how `%%sql` indicates that the cell will contain SQL.

In [ ]:
%%sql
SELECT * FROM dbc.dbcinfo

It's also possible to assign the result of a query to a variable and then drop it to a Pandas dataframe.

In [ ]:
result = %sql SELECT * FROM dbc.dbcinfo
result.DataFrame()

Here is how you can plot using `matplotlib` directly on the result object:

In [ ]:
result = %sql SELECT count(*), UserName FROM dbc.EventLog GROUP BY UserName
%matplotlib inline
result.pie()

Results can be written to a csv file:

In [ ]:
result = %sql SELECT count(*), UserName FROM dbc.EventLog GROUP BY UserName
result.csv(filename='log-aggregates.csv')

If you happen to have a variable that you want to use in a query, then `sql` magic supports variable substitution:

In [ ]:
name='TDWM'

In [ ]:
%%sql
SELECT count(*) FROM dbc.Eventlog where UserName = '{name}'